@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
  .prose ul[data-type=taskList] {
    list-style: none;
    padding-inline-start: 0;
  }

  .prose ul[data-type=taskList] li::marker {
    content: none;
  }

  .prose ul[data-type=taskList] input[type="checkbox"] {
    margin: 0;
  }
  
  .tiptap ul[data-type=taskList] li {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .tiptap ul[data-type=taskList] li div {
    display: flex;
    margin-top: 0;
    margin-left: 4px;
  } 

  .tiptap ul[data-type=taskList] li div p {
    margin-top: 0;
    margin-bottom: 0;
  }

}

