@import "tailwindcss";
/* @import "https://rsms.me/inter/inter.css"; */
@plugin "@tailwindcss/typography";

@layer components {
  .prose ul[data-type=taskList] {
    list-style: none;
    padding-inline-start: 0;
  }

  .prose ul[data-type=taskList] li::marker {
    content: none;
  }

  .prose ul[data-type=taskList] input[type="checkbox"] {
    margin: 0;
  }
  
  .tiptap ul[data-type=taskList] li {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .tiptap ul[data-type=taskList] li div {
    display: flex;
    margin-top: 0;
    margin-left: 4px;
  } 

  .tiptap ul[data-type=taskList] li div p {
    margin-top: 0;
    margin-bottom: 0;
  }

}

html {
  /* margin: 0; */
  /* padding: 0;  */
  /* background-color: black; */
  background-color: rgba(14, 14, 17, 1);
  /* color: white; */
}
/* rgb(229, 231, 235) toolbar color*/
/* rgb(14, 14, 17) toolbar color*/
/* @theme {
  --font-sans: "Inter", sans-serif;
} */


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(14, 14, 17, 1)
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

::-webkit-scrollbar-button {
  height: 6px;
  background: rgba(14, 14, 17, 1);
}

::-webkit-scrollbar-button:hover {
  background: #7e7e7e;
}

.prose ::selection {
  background: rgba(122,82,255,0.2); /* violet-ish */
  color: white;
}

.prose ol > li::marker {
  color: white;
}

.editor-content blockquote {
  color: white;
}