@import "tailwindcss";
/* @import "https://rsms.me/inter/inter.css"; */
@plugin "@tailwindcss/typography";

@layer components {
  .prose ul[data-type=taskList] {
    list-style: none;
    padding-inline-start: 0;
  }

  .prose ul[data-type=taskList] li::marker {
    content: none;
  }

  .prose ul[data-type=taskList] input[type="checkbox"] {
    margin: 0;
  }
  
  .tiptap ul[data-type=taskList] li {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .tiptap ul[data-type=taskList] li div {
    display: flex;
    margin-top: 0;
    margin-left: 4px;
  } 

  .tiptap ul[data-type=taskList] li div p {
    margin-top: 0;
    margin-bottom: 0;
  }

}

html {
  /* margin: 0; */
  /* padding: 0;  */
  /* background-color: black; */
  background-color: rgba(14, 14, 17, 1);
  /* color: white; */
}
/* rgb(229, 231, 235) toolbar color*/
/* rgb(14, 14, 17) toolbar color*/
/* @theme {
  --font-sans: "Inter", sans-serif;
} */

